
h2{
    color: blue;
}
img{
    height: 400px;
    width: 400px;
}
ul li {
    display: inline;
       text-decoration:none;
       font-size: large;
       padding: 30px;
    }
body{
    font-size: smaller;
}